html,body{
	height: 95%;
	width: 100%;
}
.top-feed{
	background:#555;
	color:white;
	font-weight: bold;
	overflow:auto;
	padding:2px 10px;
	font-size: 15px;
}
.notice{
	display:inline-block;
	float:left;
}
.short-contact{
	display: inline-block;
	float:right;
}
.nav-custom{
	margin-top: 25px;
	font-weight: bold;
	font-size: 15px;
	opacity:1;
}
.nav-custom a:hover{
	transition:all 0.5s ease;
	border-radius: 0px 0px 25px 25px;
}

.company-name h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.company-name h3 span{
	color:  #5383d3;
}


.srv-all,.sct-all{
	box-sizing: border-box;
	text-align: center;
	padding: 0px 0px;
	margin: 0px;
}
.sct-all{
	height:75%;
}
.sct-all .back{
	position: relative;
	background-image: url('back.jpg');
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sct-all .mid{
	width: 100%;
	right: 0px;
	color:white;
	position: absolute;
	top:40%;
}
.mid{
	margin-top: 0%;
	transition: 0.8s;
	padding-left: 10px;
}
.button2 {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height:60px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.banner-width{
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	border-radius: 25px;
	text-align: left;
	margin: 0px;
	color: #ffffff;
}
.banner-width h1{
	font-size: 3.5rem;
	padding-bottom: 0px;
    text-shadow: 5px 0 10px black;
    margin-bottom: 10px;
}
.banner-width h3{
	margin-bottom: 10px;
	text-shadow: 5px 0 10px black;
}
.srv-all{
	width:80%;
	margin:auto;
	padding-bottom: 20px;
}
.srv-all h1{
	padding-top:40px;
	text-decoration: underline;
}
.srv-all a,.srv-all h1{
	text-decoration: none;
	color: #d7a334;
}
.srv-all .box-d{
	box-sizing: border-box;
	text-decoration: none;
}
.srv-all .box-d:hover{
	transition: 0.6s;
	box-shadow: 0px 7px 7px 0px #CCC;

}
.srv-all img{
	height: 150px;
	width:150px;
}
.srv-all .box-d:hover img{
	height:140px;
	width:140px;
	transition: 0.6s;
}


.p-story{
	box-sizing: border-box;
	margin: 0px;
	padding: 50px;
	text-align: center;
	background-image: url('family.jpeg');
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-size: cover;
	color: #ffffff;

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.head-custom{
	margin: 100px;
}
.head-custom h1{
	font-weight: bold;
	font-size: 36px;
	
}
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
  color: #FF7F50;
}
.btn-1 {
  background: transparent;
  font-weight: bold;
  text-shadow: 5px 0 10px black;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}
.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


.footer-all{
	box-sizing: border-box;
	background-color: rgba(0,50,0,0.6);
	color: white;
	padding: 20px 50px;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	width: 100%;

}
.footer-all a{
	color: #ffffff;
	padding: 0 5px 0 5px;
	height: 15px;
	width: 30px;
	background-color: transparent;
	transition:all 0.3s ease;
}
.footer-all a:hover{
	background-color: #0b66b7;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	height: 25px;
	width: 40px;
	text-decoration: none;
	transition:all 0.3s ease;
	border-radius: 10%;
}
.footer-p{
	font-weight: normal;
	font-size: 14px;
}
.copyright{
	background: #333;
	text-align: center;
	font-weight: bold;
	color:white;
	font-size: 15px;
}
@media (max-width: 767px) {
	.back-color a{
		background-color: #070707;
		opacity: 0.9;
	}
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.7s;
}
.overlay-content {
    position: relative;
    top: 20%;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: 15%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

strong,
b {
  font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 150%;
}

i.fa {
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.main-container {
  background: #fff;
  max-width: 1000px;
  margin: 25px auto 25px auto;
  position: relative;
}

.container2 {
  position: relative;
  padding: 25px;
}
/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
  float: left;
  width: 47%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #EAEAEA;
}
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 48.5%;
  margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.testimonial .header{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.animation-element.slide-left.testimonial .left{
  float: left;
  margin-right: 15px;
}
.animation-element.slide-left.testimonial .right{
  float: left;
}

.animation-element.slide-left.testimonial img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.testimonial h3 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial h4 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial .content {
  float: left;
  width:100%;
  margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .rating{}

.animation-element.slide-left.testimonial i {
  color: #aaa;
  margin-right: 5px;
}



/*media queries for small devices*/
@media screen and (max-width: 678px){
  /*testimonials*/
  .animation-element.slide-left.testimonial,
  .animation-element.slide-left.testimonial:nth-of-type(odd),
  .animation-element.slide-left.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
  
}
