.banner-bg{
	background:url(../img/physio.jpg) no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.banner-content{
	text-align: center;
	padding-top:20%;
}
.banner-content h1{
	font-size: 5rem;
	color:white;
	text-shadow: 0px 0px 7px #333;
	font-weight: 900;
	padding: 0;
	margin:0;
}
.well{
	width:600px;
	margin:auto;
}
.what,.expect{
	text-align: center;
}
 h2{
	font-size:3rem;
	color:white;
}
p{
	font-size: 1.5rem;
	color:white;
}
.what{
	background:rgba(0,0,0,0.5);
}
.expect{
	background: rgba(100,0,0,0.6);
}
hr{
	
	color:white;
}