.doc .container{
  width: 50%;
  float: left;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .doc .container{
  width: 100%;
  margin-right: 20px;
}
}
.doc .container form{
  text-align: left;
  font-size: 16px;
}
